<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app uses your location to display details on the screen</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to display details on the screen</string>
	<key>API_KEY</key>
	<string>3a8b3fb3b79e49b5946175831230704</string>
</dict>
</plist>
